h1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.employee-card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
}